.blueBox {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  background-color: blue;
}
p {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  gap: 20px;
}
.cards {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  width: 150px;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
img {
  width: 100%;
}
